<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Taskboard</title>
</head>

<body>
  {%if currentUser.email == tb.author:%}
  <p>Taskboard: {{tb.name}} <a href="/editBoard?key={{tb.key.id()}}">Edit Taskboard</a> </p>
  {%else:%}
  <p>Taskboard: {{tb.name}}</p>
  {%endif%}

  <p>Author : {{tb.author}}</p>
  <p>Members: {%for i in permittedUsers:%}
    {{i.name}}
    {%endfor%}</p>



  <!-- for adding a user to task , only visible to author -->
  {%if currentUser.email == tb.author %}
  <form action="/tboard?key={{tb.key.id()}}" method="post">
    <p>Add a user</p>
    <select name="SelectedUser">
      {%for user in allUsers:%}
      <option value="{{user.key.urlsafe()}}">{{user.name}}</option>
      {%endfor%}
    </select>
    <input type="submit" name="button" value="AddUser">
  </form>
  {%endif%}




  <!-- for adding task -->
  <p>Add a Task Below</p>

  <form action="/tboard?key={{tb.key.id()}}" method="post">
    Task Title : <input type="text" name="taskTitle">
    Due Date : <input type="date" name="dueDate">
    Assigned User: <select name="assignedUser">
      {%for user in permittedUsers:%}
      <option value="{{user.email}}">{{user.email}}</option>
      {%endfor%}
    </select>


    <input type="submit" name="button" value="AddTask">

  </form>
  <br>
  <br>


  <!-- to display the tasks as a table -->
  <h3>All Tasks</h3>

  <h5>Total Tasks : {{totalTasks}}</h5>
  <h5>Completed : {{completedTasks}}</h5>
  <h5>Active : {{pendingTasks}}</h5>
  <h5>Completed Today: {{completedToday}}</h5>

  <form action="/tboard?key={{tb.key.id()}}" method="post">
    <table>
      <tr>
        <th>Title</th>
        <th>Due date</th>
        <th>Assigned To</th>
        <th>Is Completed</th>
        <th></th>
      </tr>
      {%for t in tb.tasks:%}
      <tr>
        {% if t.user == 'Unassigned':%}
        <td style="color: red;">{{t.title}}</td>
        <td style="color: red;">{{t.dueDate}}</td>
        <td style="color: red;">{{t.user}}</td>
        {%else:%}
        <td>{{t.title}}</td>
        <td>{{t.dueDate}}</td>
        <td>{{t.user}}</td>
        {%endif%}

        {%if t.isCompleted == true%}
        <td>Completed on {{t.completedOn}}</td>
        {%else%}
        <td><input type="checkbox" name="isCompleted" value="{{loop.index-1}}">Mark Completed</td>
        {%endif%}
        <td> <a href="/editTask?tbKey={{tb.key.id()}}&task={{loop.index-1}}">Edit</a> </td>
      </tr>
      {%endfor%}


      <style media="screen">
        td,
        th {
          border: 1px solid black;
          padding: 1em;
        }
      </style>
    </table>
    <br>

    <!-- to mark a task as completed -->
    <input type="submit" name="button" value="MarkCompleted">
  </form>


  <br><br>

  <!-- to delete the taskboard -->
  <form action="/tboard?key={{tb.key.id()}}" method="post">
    <input type="submit" name="button" value="DeleteTaskboard">
  </form>



  <!-- redirects back to home -->
  <p> <a href="/">Go Home</a> </p>


</body>

</html>
